.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
    /* background-image: url('../images/logo.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left;  */
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron h1 {
    font-weight: 300;
  }
  
  /* .jumbotron .container {
    max-width: 40rem;
  } */
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }
  
  .card>img{
    width: 350px;
    height: 350px;
  }
  .img-fluid{
      max-width:350px ;
      height: 350px;
  }
  